<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="false"
        android:label="${stubLabel}"
        android:process="${targetProcess}"
        android:supportsRtl="true"
        android:usesCleartextTraffic="false">

        <meta-data
            android:name="qa.voyahtune.oemstub"
            android:value="true" />

        <service
            android:name="qa.voyahtune.oemstub.StubService"
            android:directBootAware="true"
            android:exported="true"
            android:process="${targetProcess}"
            android:stopWithTask="false" />
    </application>

</manifest>
