<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="ru.big.town.anative.permission.BIND_SET_MODES_SERVICE" />
    <!-- Список установленных приложений для «Выдать права на установку» -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <queries>
        <package android:name="ru.big.town.restoremode" />
        <!-- Нужно для bindService к SetModesService (видимость пакетов, API 30+) -->
        <package android:name="ru.big.town.anative" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_restoremode"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_restoremode"
        android:supportsRtl="true"
        android:theme="@style/Theme.RestoreMode"
        tools:targetApi="31">
        <activity
            android:name=".AdvanceActivityStarButton"
            android:exported="false" />
        <activity
            android:name=".AdvanceActivity"
            android:exported="false" />
        <activity
            android:name=".TripHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".LoggingActivity"
            android:exported="false" />

        <!-- Native возвращает сюда результат drag. Signature-permission не позволяет сторонним
             приложениям подменять пропорции пресетов. -->
        <receiver
            android:name=".SplitRatioSaveReceiver"
            android:exported="true"
            android:permission="ru.big.town.anative.permission.BIND_SET_MODES_SERVICE">
            <intent-filter>
                <action android:name="ru.big.town.restoremode.SPLIT_RATIO_SAVE" />
            </intent-filter>
        </receiver>

        <!-- Explicit-only startup/wake request from Native. The signature permission prevents
             other applications from forcing preference reads or configuration broadcasts. -->
        <receiver
            android:name=".SavedConfigSyncReceiver"
            android:exported="true"
            android:permission="ru.big.town.anative.permission.BIND_SET_MODES_SERVICE" />

        <provider
            android:name=".RestoreModeContentProvider"
            android:authorities="ru.big.town.restoremode.restoremodecontentprovider"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
